bib.bib
rustgc_paper.aux
rustgc_paper.bbl
rustgc_paper.blg
rustgc_paper.log
rustgc_paper.out
rustgc_paper.pdf
rustgc_paper_preamble.fmt
rustgc_paper_preamble.log
images/*.pdf
listings/*.out
listings/alloy
plots/*.pdf
*.pdf
